footer{
  position: fixed;
  display: flex;
  justify-content: center;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
  & > div{
    padding: 15px 25px;
  }
}



.bg-dark{
  background-color: #343a40!important;
}

.bd-sidebar{
  height: calc(100vh - 90px);
  border-right: 1px solid rgba(0,0,0,.1);
}